footer {
  background: var(--gradient);
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  box-shadow: 0 0 20px var(--shadow);
  z-index: 99999999999999;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 50px;
  }

  * {
    font-size: 14px;
  }

  p {
    color: var(--white);
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 40px;
      height: 40px;

      &:hover {
        transform: scale(1.05);
        filter: drop-shadow(2px 2px 10px var(--shadow));
      }
    }
  }
}
